<div class="contents row">
  <div class="container">
    <%= form_for @tweet do |f| %>
      <h3>
        近況アップデート
      </h3>
      <%= f.text_area :text, :placeholder => "今何してる？" , :rows => 5, :class => "post_textarea"%>
      <div class="file_input">
        <% if @is_token_valid_user %>
          <span>心拍数取得</span>
          <select name="acqusition_beforetime_min">
            <option value="15">15分前</option>
            <option value="30">30分前</option>
            <option value="60">60分前</option>
            <option value="90">90分前</option>
          </select>
        <% end %>

        <span>画像</span>
        <label for="image">
          <%= image_tag("image.png", :class => "file_image")%>
          <%= f.file_field :image, placeholder: "画像アップロード", style: "display:none;", id: "image"%>
        </label>

        <span>動画</span>
        <label for="movie">
          <%= image_tag("movie.png", :class => "file_image")%>
          <%= f.file_field :movie, placeholder: "動画アップロード", style: "display:none;", id: "movie"%>
        </label>
        <input type="submit" value="投稿する" class="post_input">
      </div>
    <% end %>
  </div>
</div>