<div class ="contents row">
  <%= render partial: "tweets/tweet", locals: { tweet: @tweet } %>
  <% if @tweet.heartrate_flag %>
     <div class="graph">
      <h4>＜心拍数推移＞</h4>
      <%= line_chart [{name: "日常心拍数", data: @heartrates_mean, colors:["4906F8"], curve: false}, {name: "心拍数推移", data: @heartrates, colors:["F92500"], curveType: 'function'}], min: @min_tick, max: @max_tick, xtitle: "時刻", ytitle: "心拍数[bpm]", library: {fontSize: "18", hAxis: {textStyle: {fontSize: "14"}}, vAxis: {textStyle: {fontSize: "18"}}, legend: {textStyle: {fontSize: "18"}, position: "top"}, pointsVisible: false} %>
    </div>
  <% end %>
  <% if !(@comments.empty?) %>
    <div class="container">
      <h4>＜コメント一覧＞</h4>
    </div>
    <% @comments.each do |comment| %>
      <div class="comment_post">
        <%= image_tag comment.user.avatar, :class => "avatar_class_comment"%>
        <div class="comment_information">
          <span class="bold small"><%= comment.user.account_name %></span>
          <span class="gray small"> - <%= time_ago_in_words comment.created_at %></span>
          <span><%= simple_format(comment.text) %></span>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if current_user %>
    <div class="container">
      <div class="form">
        <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
          <textarea cols="30" name="text" placeholder="コメントする..." rows="1" class="searchcomment_textarea"></textarea>
          <input type="submit" value="投稿する" class="searchcomment_input">
        <% end %>
      </div>
    </div>
  <% end %>
</div>